<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCChecker">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BrowseActivity"
            android:exported="false"
            android:label="Browse Components" />

        <activity
            android:name=".ResultsActivity"
            android:exported="false"
            android:label="Compatibility Report" />

        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="Component Details" />

    </application>

</manifest>
