# Build artifacts
app/build/
.gradle/
.idea/
*.class
*.flat
dump.xml
msert.exe

# Local assets (User-specific)
# Add your local components folder here if you don't want to track images
# app/src/main/assets/images/components/